<app-navbar></app-navbar>
<div class="main">
    <div class="service1">
        <div class="text">
            <p>technology<br>hack you won't <br>get</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.png" alt="">
        </div>
    </div>
    <!-- <div class="service2">
        <div class="text">
            <p>your products are great .</p>
            <button>shop product</button>
        </div>
        <div class="image">
            <img src="../assets/watch.jpeg" alt="">
        </div>
    </div> -->

    <!-- ============================SERVICES=============================== -->
    <div class="services">
        <div class="card1">
            <span>
                <h2>free delivery</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card2">
            <span>
                <h2>quality guarantee</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card3">
            <span>
                <h2>daily offers</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
        <div class="card4">
            <span>
                <h2>100% secure payment</h2>
            </span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, tenetur.</p>
        </div>
    </div>

    <!-- ============================MOBILE PRODUCTS=============================== -->
    <div class="mobile_products">
        <h2>mobile peoducts</h2>
        <div class="mobiles">
            <div class="phone-card">
                <div class="phone">
                    <img src="../assets/iphone10.png" alt="iphone 10">
                </div>
                <div>
                    <span>iphone 10</span>
                    <p>$980</p>
                </div>
            </div>
            <div class="phone-card">
                <div class="phone">
                    <img src="../assets/iphone11.png"alt="iphone 11">
                </div>
                <div>
                    <span>iphone 11</span>
                    <p>$1100</p>
                </div>
            </div>
            <div class="phone-card">
                <div class="phone">
                    <img src="../assets/iphone8.png"alt="iphone 8">
                </div>
                <div>
                    <span>iphone 8</span>
                    <p>$780</p>
                </div>
            </div>
            <div class="phone-card">
                <div class="phone">
                    <img src="../assets/iphone13.png" alt="iphone 13">
                </div>
                <div>
                    <span>iphone 13</span>
                    <p>$1500</p>
                </div>
            </div>
            <div class="phone-card">
                <div class="phone">
                    <img src="../assets/iphone12.png"alt="iphone 12">
                </div>
                <div>
                    <span>iphone 12</span>
                    <p>$1300</p>
                </div>
            </div>
        </div>
    </div>
     <!-- ============================SMART WARCHES=============================== -->
     <div class="watch_products">
        <h2>watch products</h2>
        <div class="watches">
            <div class="watchcard">
                <div class="watch">
                    <img src="../assets/watch.png" alt="pink watch">
                </div>
                <div class="price">
                    <span>pink watch</span>
                    <p>$870</p>
                </div>
            </div>
            <div class="watchcard">
                <div class="watch">
                    <img src="../assets/watch.png"alt="heavy watch">
                </div>
                <div class="price">
                    <span>heavy watch</span>
                    <p>$680</p>
                </div>
            </div>
            <div class="watchcard">
                <div class="watch">
                    <img src="../assets/watch.png" alt="spotted watch">
                </div>
                <div class="price">
                    <span>spotted watch</span>
                    <p>$750</p>
                </div>
            </div>
            <div class="watchcard">
                <div class="watch">
                    <img src="../assets/watch.png" alt="black watch">
                </div>
                <div class="price">
                    <span>black watch</span>
                    <p>$650</p>
                </div>
            </div>
            <div class="watchcard">
                <div class="watch">
                    <img src="../assets/watch.png" alt="smart watch">
                </div>
                <div class="price">
                    <span>smart watch</span>
                    <p>$750</p>
                </div>
            </div>
        </div>
    </div>
    <!-- =================================NEW SALE SECTION=============================== -->
    <div class="newsell">
        <div class="text">
            <small>10% off</small>
            <p>new year <br>sale</p>
            <button>shop sale</button>
        </div>
        <div class="image">
            <img src="../assets/sale.png" alt="image of new sale">
        </div>
    </div>
    <!-- =======================================LATEST POST================================================= -->
    <div class="latestpost">
        <h1>LATEST POSTS</h1>
        <div class="cards">
            <div class="card">
                <div class="carda carda1">
                    <img src="../assets/gamepad.png" alt="cool gadget">
                </div>
                <div class="text">
                    <small>feb 22, 2024 - gadgets</small>
                    <p>get some cool gadgets in 2023</p>
                </div>
            </div>
            <div class="card">
                <div class="carda carda2">
                    <img src="../assets/earphone.png" alt="technology hack you won't get">
                </div>
                <div class="text">
                    <small>feb 25, 2024 - technology</small>
                    <p>technology hack you won't get</p>
                </div>
            </div>
            <div class="card">
                <div class="carda carda3">
                    <img src="../assets/camera.png" alt="small camera">
                </div>
                <div class="text">
                    <small>feb 27, 2024 - camera</small>
                    <p>top 10 small camera in the world</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ================================BLOG AREA=================================== -->
    <div class="blog_section">
        <img src="../assets/quote.png" alt="quote mark">
        <span>
            <p class="line1">"A blog is a digital publication that can complement a website or exist </p>
            <p class="line2">independently. A blog may include articles, short posts, listicles,</p>
            <p class="line3">infographics, videos, and other digital content."</p>
        </span>
        <p>*****</p>
        <small>allan clinton</small>
    </div>
    <!-- ===================================SUBSCRIBE US NOW====================================== -->
    <div class="subscribe_box">
        <div class="left">
            <h2>subscribe us now</h2>
            <p>get latest news, updates and deals directly mailed to your inbox.</p>
        </div>
        <div class="sign">
            <input type="text" placeholder="Your email address here">
            <button>subscribe</button>
        </div>
    </div>
    <!-- =======================================SHOP OUR INSTAGRAM=========================================== -->
    <div class="shop_insta">
        <div class="card">
            <img src="" alt="product in our insta">
        </div>
        <div class="card">
            <img src="" alt="product in our insta">
        </div>
        <div class="card">
            <img src="" alt="product in our insta">
        </div>
        <div class="card">
            <img src="" alt="product in our insta">
        </div>
        <div class="card">
            <img src="" alt="product in our insta">
        </div>
    </div>
</div>
