<div class="navbar">
    <div class="logo">
        <p>MiniStore<span>.</span></p>
    </div>
    <div class="nav">
        <ul>
            <li>home</li>
            <li>services</li>
            <li>products</li>
            <li>contact us</li>
        </ul>
        <div class="icons">
            <ul>
                <li><input type="text" name="search" placeholder="search product "></li>
                <li>sign in</li>
                <li>cart</li>
            </ul>
        </div>
    </div>
</div>