form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .form-header{
    display: flex;
    justify-content: space-between;
    padding-right:2rem;
    
  }
  .form-header > h2{
    margin-left: 20rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea,
  input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  