<div class="main">
    <div class="topbar">
        <div class="left">
            <p>welcome admin</p>
        </div>
        <div class="right">
            <input type="search" name="search" placeholder="Search here .....">
            <div class="profile">
                <div class="image">
                    <img src="../assets/profile.jpeg" alt="">
                </div>
                <p style="color: white;">Bill Clinton</p>
            </div>
        </div>
    </div>

    <div class="maincontent">
        <div class="sidebar">
            <div class="home">
                <img src="../icons/home.png" alt="">
                <p>home</p>
            </div>
            <div class="product">
                <img src="../icons/product.png" alt="">
                <p>product</p>
            </div>
            <div class="category">
                <img src="../icons/category.png" alt="">
                <p>category</p>
            </div>
            <div class="order">
                <img src="../icons/cart1.png" alt="">
                <p>orders</p>
            </div>
            <div class="logout">
                <img src="../icons/exit.png" alt="">
                <p>logout</p>
            </div>
        </div>
        <div class="content">
            <!-- ********************report******************* -->
            <div class="report">
                <h2>reports</h2>
                <div class="cards">
                    <div class="card1">
                        <img src="../icons/basket.png" alt="">
                        <div class="description">
                            <small>orders</small>
                            <p>5610</p>
                        </div>
                    </div>
                    <div class="card2">
                        <img src="../icons/cart2.png" alt="">
                        <div class="description">
                            <small>products</small>
                            <p>23</p>
                        </div>
                    </div>
                    <div class="card3">
                        <img src="../icons/money.png" alt="">
                        <div class="description">
                            <small>transactions</small>
                            <p>1942</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *********************performance indicator*************************** -->
            <div class="performance">
                <h2>key performance indicators</h2>
                <div class="cards">
                    <div class="card1">
                        <small>revenue</small>
                        <p>$4,800.00</p>
                    </div>
                    <div class="card2">
                        <small>total payment</small>
                        <p>$9,800.00</p>
                    </div>
                    <div class="card3">
                        <small>pending</small>
                        <p>$5,800.00</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
