<div class="auth-container">
  <button class="home-button" routerLink="/home">Home</button>
    <div class="auth-box">
      <div class="auth-left">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <label for="email">Email</label>
            <div class="input-with-icon">
              <input id="email" formControlName="email" type="email" placeholder="Enter your email">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="error" *ngIf="resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched">
              Email is required and must be a valid email.
            </div>
          </div>
          <div class="input-group">
            <label for="newPassword">New Password</label>
            <div class="input-with-icon">
              <input id="newPassword" formControlName="newPassword" type="password" placeholder="Enter your new password">
              <i class="fas fa-lock"></i>
            </div>
            <div class="error" *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
              New Password is required.
            </div>
          </div>
          <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </form>
      </div>
      <div class="auth-right">
        <h2>WELCOME BACK!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing.</p>
      </div>
    </div>
  </div>
  